.card-down {
    max-width: 300px;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     background: #fff;
    margin-bottom :20px;
  }
  
  .card-down img {
    height: 35px;
    width: auto;
   
    object-fit: cover;
    border-radius: 8px;
  }
  
  .card-down h1 {
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #133A59
  }
  
  .card-down p {
    margin-top: 8px;
    font-size: 14px;
    color: #2c2c2c;
  }
  
  